<h2 class="col-sm-offset-5">
  <span><%=t('.title')%><span>
</h2>
<div class="container">
  <p><%= link_to t('.add'), new_admin_article_path, class: ' btn btn-success'%></p>
  <% if @articles.present? %>
    <div class = "panel panel-default">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>title</th>
            <th>category</th>
            <th>author</th>
            <th>publish</th>
            <th>readcount</th>
            <th><%=t('.operate')%></th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article|%>
            <tr>
              <td class="col-sm-1"><%=article.id%></td>
              <td class="col-sm-2"><%=link_to article.name, admin_article_path(article)%></td>
              <td class="col-sm-2"><%=article.category.name%></td>
              <td class="col-sm-2"><%=article.get_user%></td>
              <td class="col-sm-2"><%=article.publish_state == 1 ? t(".publish") : t(".unpublish")%></td>
              <td class="col-sm-1"><%=article.hits%></td>
              <td class="col-sm-2">
              <% if can? :update, article %>
                <%= link_to t('.edit'),edit_admin_article_path(article)%>|
              <% end %>
              <% if can? :destroy,article%>
                <%= link_to t('.delete'), admin_article_path(article), method: :delete, data: { confirm: t('.delete_confirm') }%> |
              <% end %>
              <% if (can? :publish,article) && (article.publish_state.to_s == "0") %>
                <%= link_to t(".publish"),publish_admin_article_path(article)%>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @articles %>
  <% else %>
    <div class="col-sm-offset-2">
      <h2><%=t('.blank')%></h2>
    </div>
  <% end %>
</div>