<h2 class="article_title"><%=@article.name%></h2>
<p class="pull-right">
  <span>
    <%= @article.user.try(:nick_name) || @article.user.try(:email)%>
    <%=t('.created_at1')%>
    <%=custome_time_ago(@article.created_at)%>
    <%=@article.hits%><%=t(".hits",:default => "hits")%>
  </span>
</p>
<% cache @article do%>
  <div class="row">
    <div class="col-md-10 col-sm-offset-1">
      <%=raw @article.content_html%>
    </div>
  </div>
<% end %>

