<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%=t('.all')%>(<%=@articles.size%>)
      </div>
      <div class="panel-body">
        <% @articles.each do |article| %>
          <p>
            <span><%= link_to article.name,article_path(article)%></span>
            <span class="pull-right"><%=custome_time_ago(article.created_at)%></span>
          </p>
        <% end %>
        <%=paginate @articles%>
      </div>
    </div>
  </div>
</div>