<div class="panel panel-default ">
  <div class="panel-heading login">
    <h2>忘记密码</h2>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <% if flash[:alert].present?%>
        <div class="form-group form_padding">
          <div class="col-md-6 col-md-offset-3">
            <p class="alert alert-warning"><%#=flash[:alert]%></p>
          </div>
        </div>
      <% end %>
      <br>
      <div class="form-group form_padding">

        <%= f.label :email,"邮箱" ,class:"col-md-4 col-md-offset-1"%>
        <div class="col-md-4">
          <%= f.email_field :email, autofocus: true ,class:"form-control"%>
        </div>
      </div>

      <div class="form-group form_padding">
        <%= f.label :password ,"验证码", class:"col-md-4 col-md-offset-1"%>
        <div class="col-md-2">
          <%= rucaptcha_input_tag(class: 'form-control', placeholder: 'Input Captcha') %>
        </div>
        <%= rucaptcha_image_tag(alt: 'Captcha',class:"col-md-2 captcha") %>
      </div>

      <div class="form-group form_padding">
        <div class="col-md-2 action col-md-offset-5">
          <%= f.submit "重置密码",class: 'form-control btn-primary '  %>
        </div>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
