<nav class="navbar navbar-default" role="navigation">
    <div class="header_login">
      <div class="navbar-header">
        <%=link_to "把酒与东风", root_path,class:"navbar-brand" %>
      </div>
      <div> 
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%=current_user.nick_name || current_user.email%>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%=link_to "个人中心" , user_path(current_user)%></li>
                  <li><%=link_to "注销",destroy_user_session_path, method: :delete%></li>
                </ul>
            </li>
          <% else %>
              <li class="active"><%=link_to "登录", new_user_session_path%></li>
              <li><%=link_to "注册", new_user_registration_path%></li>
          <% end %>
        </ul>
      </div>
    </div>
</nav>
