<h2 class="col-sm-offset-5">
  <span><%=t('.title')%><span>
</h2>
<div class="container">
  <% if can? :create, Category %>
    <p><%= link_to  t('.add'), new_admin_category_path, class: ' btn btn-success'%></p>
  <% end %>
  <% if @categories.present? %>
    <div class = "panel panel-default">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>title</th>
            <th>desc</th>
            <th>image</th>
            <th>count</th>
            <th><%=t('.operate')%></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category|%>
            <tr>
              <td class="col-sm-2"><%=category.id%></td>
              <td class="col-sm-2"><%=category.name%></td>
              <td class="col-sm-2"><%=category.desc%></td>
              <td><%=image_tag category.image_url,size:"80x80"%></td>
              <td class="col-sm-2"><%=category.articles_count%></td>
              <td class="col-sm-2">
              <% if can? :update, category %>
                <%= link_to t('.edit'),edit_admin_category_path(category)%>|
              <% end %>
              <% if can? :destroy, category%>
                <%= link_to t('.delete'), admin_category_path(category), method: :delete, data: { confirm: t('.delete_confirm') }%> 
              <% end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="col-sm-offset-2">
      <h2><=t('.blank')%></h2>
    </div>
  <% end %>
</div>