<!DOCTYPE html>
<html>
  <head>
    <title><%=t(".logo")%></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'shared/header'%>
      <div class="yield_center">
        <%=render 'shared/flash_messages'%>
        <%= yield %>
      </div>
      <%= render 'shared/footer'%>
  </body>
</html>
